@import "./vars.scss";

main {
    display: grid;
    gap: 1rem;
    grid-template:
        "header"
        "cards-section"
        "footer";

    background-color: $light_blue;
}

button, .btn {
    background-color: $purple_ !important;
}

h1 {
    font-family: $font_raj;
    font-style: normal;
    font-weight: normal;
    font-size: 8vw;
    margin: 0;

    text-align: center;
    text-transform: uppercase;

    color: #333333;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

$CARDS_COL_COUNT: 2;

section.cards {
    margin: 0 1rem;
    grid-area: cards-section;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1.5fr;
    grid-template-areas:
        "aside article";

    aside {
        grid-area: aside;
    }

    article {
        justify-self: center;
        grid-area: article;
        display: grid;
        gap: 1rem;
        grid-template: repeat($CARDS_COL_COUNT, 1fr) / repeat($CARDS_COL_COUNT, 1fr);
    }
}