// colors:
$light_blue: #3EE8D4;
$purple_: #7251FF;
$red_: #E85A5E;
$light_green: #EAFFC5;
$light_orange: #FFE1A4;

@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Rajdhani|Roboto&display=swap');

$font_roboto: 'Roboto', sans-serif;
$font_annie: 'Annie Use Your Telescope', cursive;
$font_raj: 'Rajdhani', sans-serif;



