@import "../../vars.scss";

footer {
    grid-area: footer;
    background: $light_orange;
    width: 100%;
    font-family: $font_annie;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}